<h2>Welcome to CoLedger</h2>

<hr>
<h3> Here are some features you can do with CoLedger </h3>


<div class="flipster">
    <ul>
        <li><%= image_tag asset_path('screenshots/members.png') %></li>
        <li><%= image_tag asset_path('screenshots/projects.png') %></li>
        <li><%= image_tag asset_path('screenshots/transactions.png') %></li>
        <li><%= image_tag asset_path('screenshots/New Account.png') %></li>
        <li><%= image_tag asset_path('screenshots/Multi language.png') %></li>

    </ul>
</div>
